[param]
solver=marginallystablesolver_racheb.py
nprocs=16
Lx=1
Lz=1
zmatch=0.5
Nx=512
Nz=512
kx=3.141592653589793
kx_global=(2*(np.pi))*np.array([i+1 for i in range(comm.size)])
tol=0.0001
NEV=10
target=0
Ra=1e3
Re=1
Pr=1
plotornot=False
#decrease/increase general change amplitude
stripad=1
back_ad=8
sig=0.0001
epsilon=1.15
#Adiabat|nabad = 1 - Ra
st=50
maxtimestep=0.0005
name=Ra1e3Adbck8_EVPtstsolv512
state=none