[param]
solver=marginalstabilityspectrum.py
name=margcurv_test
nprocs=104
Lx=1
Lz=1
zmatch=0.5
Nx=128
Nz=128
kx=3.141592653589793
kxbool=False
kx_int=(2*(np.pi))*np.array([i+1 for i in range(104)])
kx_log=(np.array([(1e4)**((n+1)/104)-1 for n in range(104)]))
tol=0.0001
solvbool=False
NEV=10
target=0
Ra=605
Ra_sig=0
supercrit=0
runsupcrit=False
Re=0
Pr=1
stripad=1
back_ad=3
sig=0.01
epsilon=10
delta=0.001
#Adiabat|nabad = 1 - Ra
st=0
maxtimestep=0.0025
state=none